<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="server=(localdb)\MSSQLLocalDB;database=SampleDB;integrated security=SSPI" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFWebApp.StudentServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WCFWebApp.StudentService">
        <endpoint address="" behaviorConfiguration="WCFWebApp.StudentServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WCFWebApp.StudentService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>